body {
  box-sizing: border-box;
  background-image: linear-gradient(
    110.2deg,
    rgba(99, 192, 227, 1) 5.3%,
    rgba(98, 72, 194, 1) 100.2%
  );
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin: 0 auto;
  padding: 0;
  font-family: "Roboto Condensed", sans-serif;
}

.contactsList {
  text-align: center;
}

.contactItem {
  display: inline-block;
  margin: 0px 20px;
  font-size: 24px;
  background-color: #6a89cc;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 24px 3px rgba(0, 0, 0, 0.75);
  min-width: 325px;
}

.contactForm {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 25px 0;
}

input {
  border: 2px solid #000;
  border-radius: 10px;
  margin: 15px auto;
  display: block;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 20px;
  outline: none;
}

input:focus {
  border: 2px solid #fff;
}

button {
  margin-top: 10px;
  border-radius: 10px;
  border: 2px solid #000;
  outline: none;
  background: #4045c9;
  text-transform: uppercase;
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  border: 2px solid #fff;
}

.contactEmail {
  text-decoration: none;
  color: #fff;
}
